extends ../templates/template
include ../mixins/link
include ../mixins/list

prepend header
append header
    h2 Subtitle

block main
    include ./plantilla/main
    +link('/enlace', 'enlace')
    ul(class="navbar-nav me-auto mb-2 mb-lg-0")
        +list(names)