<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        header  
            nav
                ul 
                    li: a(href="#") soy un enlace
                    li: a(href="#") para no tener que indentar    
        h1 title
        img(src="fondo-bienvenidos.jpg", alt="fondo",width="300",height="400")
        h3 contenido
        h4 Hola 
            span mundo
        p#ejemplo Parrafo con id
        p(id="ejemplo") Parrafo con id
        p.text.clase Parrafo parrafon con clase
        p(class="text clase") Parrafo parrafon con clase
        p(id="ejemplo2",class="text clase") Parrafo parrafon con id y clase
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe placeat, suscipit reiciendis eum aliquam, itaque illo numquam dignissimos aliquid odit vel facere minima possimus. Quaerat recusandae voluptas culpa porro ut.
            | esto se mantiene al mismo nivel 