
<section class="container-fluid">
    
  <div class="row" ng-repeat="contacto in contactos">
    <!-- <a target="_blank" href="{{contacto.url}}"></a> --> 
        <div class="col-sm-6 col-md-3" ng-if="contacto.id==3">
          <a target="_blank" href="{{contacto.url}}">
          <img src="{{contacto.img}}" style="width:100%">
          </a>
          <h3>{{contacto.nombre}}</h3>
          <p>{{contacto.titulo}}</p>
          <p>{{contacto.descripcion}}</p>
        </div>
    </div>
</section>

<!-- Page content -->
<section class="container-fluid">    
    <h1 style="text-align: center;">Asesor comercial</h1>
    <h2>
    ASESORÍA (A nivel nacional)
    </h2>
    <h3>
        <ul>
            <li>Presupuestos</li>
        </ul>
    </h3>
</section>

<!-- Page content -->
<section class="container-fluid" style="max-width:1564px">
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <button 
        class="btn btn-secondary btn-lg mx-auto" 
        type="button" 
        data-toggle="collapse" 
        data-target="#collapTapExperiencia" 
        aria-expanded="false" 
        aria-controls="collapTapExperiencia">
        Experiencia
      </button>
      <br>
      <br>
      <div class="collapse" id="collapTapExperiencia">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <a target="_blank" href="https://www.facebook.com/PdvsaROriente/">
              <img src="proyectos/pdvsa.svg" style="width:100%">
            </a>
            <div class="w3-display-topleft w3-black w3-padding">Proyecto de grado en PDVSA Refinación Oriente</div>
            
          </div>
          <div class="col-sm-6 col-md-3">
            
            <a target="_blank" href="https://www.facebook.com/Ricana-Tours-107912725995677/">
              <img src="proyectos/ricana-tours.svg" style="width:100%">
            </a>
            <div>Proyectos para la empresa ricana tours</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
