<!-- Page content -->
  <section class="container-fluid" style="max-width:1564px">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <button 
          class="btn btn-secondary btn-lg mx-auto" 
          type="button" 
          data-toggle="collapse" 
          data-target="#collapTapGrado" 
          aria-expanded="false" 
          aria-controls="collapTapGrado">
          Ejemplos
        </button>
        <br>
        <br>
        <div class="collapse show" id="collapTapGrado">
          <div class="row">
            <div 
              ng-repeat="casa in emprender_internet"
              class="col-sm-6 col-md-3">
              <!--  <h4>{{ casa.nombre }}</h4> -->
               <a target="_blank" class="dropdown-item" href="{{ casa.href }}">
                  <img  src="{{casa.src}}" style="width:100%" title="{{ casa.nombre }}">
                  <p style="overflow: hidden;">{{ casa.nombre }}</p>
              </a>
            </div>
          </div>
        </div>
        <br>
        <hr>
       
    </div>  

  </section>
  
  