<section class="container-fluid">
    <h3>
        Contacto
    </h3>
    <p>Lets get in touch and talk about your and our next project.</p>
    <form action="/action_page.php" target="_blank">
        <div class="form-group form-inline">
            <label for="name">Nombre</label>
            <input 
                type="text" 
                class="form-control"
                required name="Name">
        </div>
        <div class="form-group form-inline">
            <label for="name">Email</label>
            <input 
                class="form-control" 
                type="email" 
                required name="Email">
        </div>
        <div class="form-group form-inline">
            <label for="asunto">Asunto</label>
            <input 
                class="form-control" 
                type="text"
                required name="asunto">
        </div>
        <div class="form-group">
            <label for="asunto">Comentarios</label>
            <textarea 
                class="form-control" 
                rows="8" 
                cols="45"
                id="commentario">
            </textarea>
        </div>
        <div class="form-group">
            <button 
                class="btn btn-default" 
                type="submit">
                <i class="fa fa-paper-plane"></i> 
                SEND MESSAGE
            </button>
        </div>

    </form>
</section>
